{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Job Seeker Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
            Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static 'customerhomepagecss/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static 'customerhomepagejs/jquery.min.js' %}"></script>
    <link href="{% static 'customerhomepagecss/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static 'customerhomepagejs/simpleCart.min.js' %}"></script>
    <link href="{% static 'customerhomepagecss/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'customerhomepagejs/memenu.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(".memenu").memenu();
        });
    </script>
    <link href="{% static 'customerprofile/userhomepagenew/css/bootstrap.css' %}" rel="stylesheet" type="text/css"
        media="all" />
    <link href="{% static 'customerprofile/userhomepagenew/css/style.css' %}" rel="stylesheet" type="text/css"
        media="all" />
    <link href="{% static 'customerprofile/userhomepagenew/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'customerprofile/userhomepagenew/css/popuo-box.css' %}" rel="stylesheet" type="text/css"
        media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'customerprofile/userhomepagenew/css/jquery-ui1.css' %}">
    <!-- flexslider -->
    <link rel="stylesheet" href="{% static 'customerprofile/userhomepagenew/css/flexslider.css' %}" type="text/css"
        media="screen" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <!--copied items for profile template-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--//copied items-->
    <!-- javascript cdn  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/x.y.z/underscore-min.js"></script>
</head>

<body>
    <div class="top_bg">
        <div class="container">
            <div class="header_top-sec">
                <div class="top_right">
                    <ul>
                        <li>
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="top_left">
                    <ul>
                        <li class="top_link">Email:{{seeker.email}}
                        </li>|
                        <li class="top_link">
                            {{ seeker.name }}
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="header-bottom">
            <div class="container">
                <div class="logo">
                    <a href="#">
                        <h1>Hire&Get</h1>
                    </a>
                </div>
                <!---->
                <div class="top-nav">
                    <ul class="memenu skyblue">
                        <li class="active">
                            <a href="{% url 'seeker-profile' %}">Profile</a>
                        </li>
                        <li class="grid">
                            <a href="{% url 'seeker-logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <div class="text-center">
                    <form enctype="multipart/form-data" method="POST" action="{% url 'editing-profile' %}">
                        {% csrf_token %}
                        <img id="myimg" src="{{ seeker.ImageURL }}" class="avatar img-circle img-thumbnail"
                            alt="avatar">
                        <h6>Upload a different photo...</h6>
                        <input type="file" name="image" class="text-center center-block file-upload"
                            onchange="viewImage(event)">
                </div>
                </hr><br>
            </div>
            <!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#detials">Detials</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#edit">Add detials</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="detials">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>First Name</h4>
                                </label>
                                <input type="text" class="form-control" name="name" id="name" readonly
                                    value="{{ seeker.name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="last_name">
                                    <h4>
                                        Place</h4>
                                </label>
                                <input type="text" class="form-control" name="place" id="place" readonly
                                    value="{{ seeker.place }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Address</h4>
                                </label>
                                <input type="text" class="form-control" name="address" id="email" readonly
                                    value="{{ seeker.address }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Email</h4>
                                </label>
                                <input type="text" class="form-control" name="email" id="mobile" readonly
                                    value="{{ seeker.email }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Phone Number</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="mobile" readonly
                                    value="{{ seeker.phone_number }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Salary</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="salary" readonly
                                    value="{{ seeker.expected_salary }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Age</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="salary" readonly
                                    value="{{ seeker.age }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Username</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="salary" readonly
                                    value="{{ seeker.username }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Experience</h4>
                                </label>
                                <input type="text" class="form-control" name="mobile" id="salary" readonly
                                    value="{{ seeker.experience }} yrs">
                            </div>
                        </div>
                        <!-- </form> -->
                        <hr>
                    </div>
                    <div class="tab-pane" id="edit">
                        <hr>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>First Name</h4>
                                </label>
                                <input type="text" class="form-control" name="name" id="name"
                                    placeholder="enter name here..." value="{{ seeker.name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="last_name">
                                    <h4>Place</h4>
                                </label>
                                <input type="text" class="form-control" name="place" id="username"
                                    placeholder="enter place here..." value="{{ seeker.place }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Address</h4>
                                </label>
                                <input type="text" class="form-control" name="address" id="email"
                                    placeholder="enter address here..." value="{{ seeker.address }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" class="form-control" name="email" id="mobile"
                                    placeholder="enter email here.." value="{{ seeker.email }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Phone Number</h4>
                                </label>
                                <input type="text" class="form-control" name="phone" id="mobile"
                                    placeholder="enter your phone number here.." value="{{ seeker.phone_number }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Salary</h4>
                                </label>
                                <input type="text" class="form-control" name="salary" id="mobile"
                                    placeholder="enter your salary here" value="{{ seeker.expected_salary }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Age</h4>
                                </label>
                                <input type="text" class="form-control" name="age" id="mobile"
                                    placeholder="enter your age here" value="{{ seeker.age }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Experience</h4>
                                </label>
                                <input type="text" class="form-control" name="experience" id="mobile"
                                    placeholder="enter your experience " value="{{ seeker.experience }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile">
                                    <h4>Username</h4>
                                </label>
                                <input type="text" class="form-control" name="username" id="mobile"
                                    placeholder="enter your username" value="{{ seeker.username }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success pull-right" type="submit">
                                    <i class="glyphicon glyphicon-ok-sign"></i>
                                    Save</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
            <!--/tab-content-->
            <!-- addresses showing  -->
            <!-- <br><br><br>	
                			<div class="row">
                				{% for x in address %}
                				<div class="col-sm-6 p-5">
                				  <div class="card">
                					<div class="card-body">
                						
                					  <p class="card-text">{{x.address}}<p>
                					  <p class="card-text">{{x.state}}<p>
                					  <p class="card-text">{{x.city}}<p></p>
                					  <p class="card-text">{{x.zipcode}}<p></p>
                					  <!-- <button  class="btn btn-primary" onclick="addAddress('{{x.address}}','{{x.state}}','{{x.city}}','{{x.zipcode}}','{{x.id}}')">Edit This Address</button> --><button
                class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm"
                onclick="addAddress('{{ x.address }}','{{ x.state }}','{{ x.city }}','{{ x.zipcode }}','{{ x.id }}')">
                Edit This Address</button>
        </div>

        <br>
    </div>
</body>

</html>
</div>{% endfor %}</div>-->
<br><br>
<h3></h3>
</div>
</div>
<footer>
    <div class="footer">
        <div class="container">
            <div class="ftr-grids">
                <div class="col-md-3 ftr-grid">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="{% url 'seeker-profile' %}">Profile</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'seeker-logout' %}">Logout</a></li>
                    </ul>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jquery -->
<script src="{% static 'customerprofile/userhomepagenew/js/jquery-2.1.4.min.js' %}"></script><!-- //jquery -->
<!-- popup modal (for signin & signup)-->
<script src="{% static 'customerprofile/userhomepagenew/js/jquery.magnific-popup.js' %}"></script>
<!-- smoothscroll -->
<script src="{% static 'customerprofile/userhomepagenew/js/SmoothScroll.min.js' %}"></script><!-- //smoothscroll -->
<!-- start-smooth-scrolling -->
<script src="{% static 'customerprofile/userhomepagenew/js/move-top.js' %}"></script>
<script src="{% static 'customerprofile/userhomepagenew/js/easing.js' %}"></script>
<script type="text/javascript">$(document).ready(function () { // show Valida's version.
        $('#version').valida('version');

        // Exemple 1
        $('.valida').valida();


        // setup the partial validation
        $('#partial-1').on('click', function (ev) {
            ev.preventDefault();
            $('#res-1').click(); // clear form error msgs
            $('form').valida('partial', '#field-1'); // validate only field-1
            $('form').valida('partial', '#field-1-3'); // validate only field-1-3
        });

    });
    function viewImage(event) {
        document.getElementById('myimg').src = URL.createObjectURL(event.target.files[0])
    }</script><!-- //end-smooth-scrolling -->
<script src="{% static 'customerprofile/userhomepagenew/js/imagezoom.js' %}"> </script><!-- //imagezoom -->
<!-- FlexSlider -->
<script src="{% static 'customerprofile/userhomepagenew/js/jquery.flexslider.js' %}"></script>
<script src="{% static 'customerprofile/userhomepagenew/js/jquery.flexisel.js' %}"></script>
<script src="{% static 'customerprofile/userhomepagenew/js/bootstrap.js' %}"></script><!-- //for bootstrap working -->
</body>
</html>