{% load static %}
<!DOCTYPE HTML>
<html lang="zxx">
<head>
	<title>OTP Login Page</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Validate Login & Register Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<link rel="stylesheet" href="{% static 'seekerlogincss/style.css' %}" type="text/css" media="all" />
	<link href="{% static 'seekerlogincss/font-awesome.min.css' %}" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Magra:400,700&amp;subset=latin-ext" rel="stylesheet">
	  <!-- icon -->
	  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
	  <!-- //icon -->
	  <link rel="stylesheet" type="text/css" href="{% static 'seekerlogincss/util.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'seekerlogincss/main.css' %}">
</head>
<body>
    <!-- content -->
    {%  if otp == 1 %}
	<div class="container-agille">
		<div class="formBox level-login">
			<div class="box boxShaddow"></div>
			<div class="box loginBox">
				<form class="form" action="#" method="post">
                    {% csrf_token %}
					<div class="f_row-2">
						<input type="text" pattern="[0-9]{10}" class="input-field" placeholder="Enter your registered Mobile Number" name="phone" required>
					</div>
					<input class="submit-w3" type="submit" value="send OTP">
                    <br><br>	
                    {% for message in messages %}
                    <p style="color:rgb(236, 14, 14);">{{message}}</p>
                {% endfor %}	
					<div class="f_link">
						<a href="{% url 'seeker-register' %}" >Are you not Registered?</a>
					</div>
				</form>
			</div>
		</div>
    </div>
    {%  elif otp == 0 %}
    <div class="container-agille">
		<div class="formBox level-login">
			<div class="box boxShaddow"></div>
			<div class="box loginBox">	
				<form class="form" action="{% url 'seeker-otp-verify' %}" method="post">
                    {% csrf_token %}
					<div class="f_row-2">
						<input type="text" class="input-field" placeholder="Enter OTP" name="otp" required>
					</div>
					<input class="submit-w3" type="submit" value="submit">
                    <br><br>	
                    {% for message in messages %}
                    <p style="color:black;">{{message}}</p>
                {% endfor %}			
					<div class="f_link">
						<a href="{% url 'seeker-register' %}" >Are you not Registered?</a>
					</div>
				</form>
			</div>
		</div>
    </div>
    {% endif %}
	<div class="footer-w3ls">	
	</div>
	<script src="{% static 'seekerloginjs/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'seekerloginjs/input-field.js' %}"></script>
</body>
</html>