{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Collections</title>
	<link href="{% static 'customerhomepagecss/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script src="{% static 'customerhomepagejs/jquery.min.js' %}"></script>
	<link href="{% static 'customerhomepagecss/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="{% static 'customerhomepagejs/simpleCart.min.js' %}"> </script>
	<link href="{% static 'customerhomepagecss/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{% static 'customerhomepagejs/memenu.js' %}"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
	<!-- delete icon  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- //delete icon -->
</head>

<body>
	<!--header-->
	<div class="top_bg">
		<div class="container">
			<div class="header_top-sec">
				<div class="top_right">
					<ul>
						<li><a href="{% url 'contact' %}">Contact</a></li>|
						<li><a href="{% url 'order' %}">Order Confirmation</a></li>
					</ul>
				</div>
				<div class="top_left">
					<ul>
						<li class="top_link">Email:{{user.email}}</li>|
						<li class="top_link">{{user.username}}</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="{% url 'registered-customer-homepage' %}">
						<h1>Hire&Get</h1>
					</a>
				</div>
				<div class="top-nav">
					<ul class="memenu skyblue">
						<li class="active"><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
						<li class="grid"><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
						<li class="grid"><a href="{% url 'customer-profile' %}">Make a profile</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="cart box_1">
					<a href="">
						<h3>
							<div class="total">
								<span>₹ {{total_price}}</span>
							</div>
							<img style="width: 30px; height:30px" src="{% static 'customerhomepageimages/man.png' %}"
								alt=""><br>
					</a>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="checkout">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
				<li class="active">Cart</li>
			</ol>
			<div class="col-md-9 product-price1">
				<div class="check-out">
					<div class=" cart-items">
						<h3>My Collections</h3>
						<div class="in-check">
							<ul class="unit">
								<li><span></span></li>
								<li><span>Name</span></li>
								<li><span>Category</span></li>
								<li><span>Salary</span></li>
								<li>
								</li>
								<div class="clearfix"> </div>
							</ul>
							{% for value in data %}
							<ul class="cart-header">
								<div class="close1"> </div>
								<li class="ring-in"><a href=""><img src="{{value.seeker.ImageURL}}"
											class="img-responsive" alt=""></a>
								</li>
								<li><span>{{value.seeker.name}}</span></li>
								<li><span>{{value.seeker.category.category_name}}</span></li>
								<li><span>{{value.seeker.expected_salary}}</span></li>
								<li><span><a href="{% url 'delete-collection' value.id %}">
											<span class="glyphicon glyphicon-remove-sign"></span>
										</a></span></li>
								<div class="clearfix"> </div>
							</ul>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 cart-total">
				<h4 class="last-price">TOTAL</h4>
				<span class="total final">₹ {{total_price}}</span>
				<div class="clearfix"></div>
				<a class="order" href="{% url 'order' %}">Hire</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="ftr-grids">
				<div class="col-md-3 ftr-grid">
					<h4>About Us</h4>
					<ul>
						<li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
						<li><a href="{% url 'contact' %}">Contact Us</a></li>
						<li><a href="{% url 'collection' %}">Collections</a></li>
						<li><a href="{% url 'order' %}">Orders</a></li>
						<li><a href="{% url 'customer-profile' %}">Profile</a></li>
						<li><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
					</ul>
				</div>
				<div class="col-md-3 ftr-grid">
					<h4>Categories</h4>
					<ul>
						<li><a href="#">Construction</a></li>
						<li><a href="#">Carpenter</a></li>
						<li><a href="#">Catering</a></li>
						<li><a href="#">Plumber</a></li>
						<li><a href="#">Painter</a></li>
						<li><a href="#">Driver</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="copywrite">
		<div class="container">
			<p>Copyright © 2020 Hire&Get. All Rights Reserved
		</div>
	</div>
</body>
</html>