{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Contact Page</title>
<link href="{% static 'customerhomepagecss/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'customerhomepagejs/jquery.min.js' %}"></script>
<link href="{% static 'customerhomepagecss/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'customerhomepagejs/simpleCart.min.js' %}"> </script>
<link href="{% static 'customerhomepagecss/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'customerhomepagejs/memenu.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
</head>
<body> 
<!--header-->	
<div class="top_bg">
	<div class="container">
		<div class="header_top-sec">
			<div class="top_right">
				<ul>
					<li><a href="#">Contact</a></li>
					{% if value == 0 %}
					<li><a href="{% url 'order-confirmation' %}"> | order confirmaions</a></li>
					{% endif %}
				</ul>
			</div>
			<div class="top_left">
				<ul>
					{% if value == 0 %}
					<li class="top_link">Email:{{user.email}}</li>|
					<li class="top_link">{{user.username}}</li>	
					{% else %}
					<li class="top_link">Email:mail@example.com</li>|
					<li class="top_link">My Account</li>	
					{% endif %}			
				</ul>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="header-top">
	 <div class="header-bottom">
		 <div class="container">			
				<div class="logo">
					{% if value == 0 %}
					<a href="{% url 'registered-customer-homepage' %}"><h1>Hire&Get</h1></a>
					{% else %}
					<a href="{% url 'customer-homepage' %}"><h1>Hire&Get</h1></a>
					{% endif %}
				</div>
			 <!----> 
			 <div class="top-nav">
				 {% if value == 0 %}
				<ul class="memenu skyblue active "><li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
					<li><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
					<li><a href="{% url 'customer-profile' %}">Make a Profile</a></li>
					{% else %}
					<ul class="memenu skyblue"><li><a href="{% url 'customer-homepage' %}">Home</a></li>
						<li><a href="{% url 'customer-login' %}">Login</a></li>
						{% endif %}
				</ul>
			 </div>			 
			 </div>
	  </div>
</div>
<!---->
<div class="contact">
	  <div class="container">
		 <ol class="breadcrumb">
			 {% if value == 0 %}
		  <li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
		  {% else %}
		  <li><a href="{% url 'customer-homepage' %}">Home</a></li>
		  {% endif %}
		  <li class="active">Contact</li>
		 </ol>
			<!---start-contact---->
			<h3>Contact Us</h3>
		  <div class="section group">				
				<div class="col-md-6 span_1_of_3">
					
      			<div class="company_address">
				     	<h4>Company Information :</h4>
						    	<p>500th Door,</p>
						   		<p>second street,</p>
						   		<p>Banglore</p>
				   		<p>Phone:(00) 222 666 444</p>
				 	 	<p>Email: <a href="mailto:info@example.com">info@Hire&Get.com</a></p>
				   		<p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
				   </div>
				</div>				
				<div class="col-md-6 span_2_of_3">
				  <div class="contact-form">
					    <form>
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>MOBILE</label></span>
						    	<span><input name="userPhone" type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>SUBJECT</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" class="mybutton" value="Submit"></span>
						  </div>
					    </form>

				    </div>
  				</div>				
		  </div>
	  </div>
 </div>
<!---->

<!---->
{% if value == 0 %}
<div class="footer">
	<div class="container">
		<div class="ftr-grids">
			<div class="col-md-3 ftr-grid">
				<h4>About Us</h4>
				<ul>
					<li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
					<li><a href="{% url 'collection' %}">Collections</a></li>
					<li><a href="{% url 'order' %}">Orders</a></li>
					<li><a href="{% url 'customer-profile' %}">Profile</a></li>
					<li><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr-grid">
				<h4>Categories</h4>
				<ul>
					<li><a href="#">Construction</a></li>
					<li><a href="#">Carpenter</a></li>
					<li><a href="#">Catering</a></li>
					<li><a href="#">Plumber</a></li>
					<li><a href="#">Painter</a></li>
					<li><a href="#">Driver</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% else %}
<div class="footer">
	<div class="container">
		<div class="ftr-grids">
			<div class="col-md-3 ftr-grid">
				<h4>About Us</h4>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">Orders</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr-grid">
				<h4>Categories</h4>
				<ul>
					<li><a href="#">Construction</a></li>
					<li><a href="#">Carpenter</a></li>
					<li><a href="#">Catering</a></li>
					<li><a href="#">Plumber</a></li>
					<li><a href="#">Painter</a></li>
					<li><a href="#">Driver</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endif %}
<!---->
 <div class="copywrite">
	 <div class="container">
		<p>Copyright © 2020 Hire&Get. All Rights Reserved
		 </div>
</div>		 
</body>
</html>