{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>User Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{% static 'customerhomepagecss/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script src="{% static 'customerhomepagejs/jquery.min.js' %}"></script>
	<link href="{% static 'customerhomepagecss/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script src="{% static 'customerhomepagejs/simpleCart.min.js' %}"> </script>
	<link href="{% static 'customerhomepagecss/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'customerhomepagejs/memenu.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>	
	<link href="{% static 'customerprofile/userhomepagenew/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'customerprofile/userhomepagenew/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'customerprofile/userhomepagenew/css/font-awesome.css' %}" rel="stylesheet">
	<link href="{% static 'customerprofile/userhomepagenew/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'customerprofile/userhomepagenew/css/jquery-ui1.css' %}">
	<link rel="stylesheet" href="{% static 'customerprofile/userhomepagenew/css/flexslider.css' %}" type="text/css" media="screen" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <!--copied items for profile template-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--//copied items-->
	 <!-- javascript cdn  -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/x.y.z/underscore-min.js"></script>
	 <!-- //javascript cdn -->
</head>
<body>
	<div class="top_bg">
		<div class="container">
			<div class="header_top-sec">
				<div class="top_right">
					<ul>
						<li><a href="{% url 'contact' %}">Contact</a></li>|
						<li><a href="{% url 'order' %}">Order Confirmations</a></li>
					</ul>
				</div>
				<div class="top_left">
					<ul>
						<li class="top_link">Email:{{user.email}}</li>|
						<li class="top_link">{{user.username}}</li>					
					</ul>
				</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="header-bottom">
			<div class="container">			
				   <div class="logo">
					   <a href="{% url 'registered-customer-homepage' %}"><h1>Hire&Get</h1></a>
				   </div>
				<!---->
				<div class="top-nav">
				   <ul class="memenu skyblue"><li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
					   <li class="grid"><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
					   <li class="grid"><a href="#">Make a profile</a></li>				   
				   </ul>
				   <div class="clearfix"> </div>
				</div>
				<!---->
				<div id="jj" class="cart box_1">
					<a href="{% url 'collection' %}">
					   <h3> <div class="total">
						<img style="width: 30px; height:30px" src="{% static 'customerhomepageimages/man.png' %}" alt=""><br>
						<p>collections</p>
				   </a>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				<!---->			 
				</div>
			   <div class="clearfix"> </div>
		 </div>
   </div>
<!-- contenct starting -->
    <hr>
<div class="container bootstrap snippet">
    
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
      <div class="text-center">
		  <form enctype="multipart/form-data" method="POST" action="">
			  {% csrf_token %}
      </div></hr><br>
                </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#detials">Detials</a></li>
                <li><a data-toggle="tab" href="#edit">Add detials</a></li>
              </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="detials">					 
                      <div class="form-group">                       
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First Name</h4></label>
                              <input type="text" class="form-control" name="name" id="name"  readonly value ="{{value.first_name}}">
                          </div>
                      </div>
                      <div class="form-group">                     
                          <div class="col-xs-6">
                            <label for="last_name"><h4>	Last name</h4></label>
                              <input type="text" class="form-control" name="username" id="username"   readonly value ="{{value.last_name}}">
                          </div>
                      </div>       
					  <div class="form-group">  
						<div class="col-xs-6">
							<label for="email"><h4>Email</h4></label>
							<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"  readonly value ="{{value.email}}">
						</div>
					</div>	         
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile Number</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"  readonly value ="{{customer_detials.mobile_number}}">
                          </div>
					  </div>
					  <div class="form-group">
						<div class="col-xs-6">
						   <label for="mobile"><h4>Address</h4></label>
							<input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter Address"  readonly value ="{{customer_detials.address}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
						   <label for="mobile"><h4>Place</h4></label>
							<input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter the place"  readonly value ="{{customer_detials.place}}">
						</div>
					</div>
              	<!-- </form> -->
              <hr>              
             </div>
             <div class="tab-pane" id="edit">
                  <hr>
					{% csrf_token %}
					<div class="form-group">     
						<div class="col-xs-6">
							<label for="first_name"><h4>First Name</h4></label>
							<input type="text" class="form-control" name="first_name" id="name" placeholder="Name"  value ="{{value.first_name}}">
						</div>
					</div>
                      <div class="form-group">
						<div class="col-xs-6">
						  <label for="last_name"><h4>Last Name</h4></label>
							<input type="text" class="form-control" name="name_last" id="username" placeholder="username"  value ="{{value.last_name}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<label for="email"><h4>Email</h4></label>
							<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"  value ="{{value.email}}">
						</div>
					</div>
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile Number</h4></label>
                              <input type="text" class="form-control" name="number" pattern="[0-9]{10}" id="mobile" placeholder="enter mobile number" value ="{{customer_detials.mobile_number}}">
                          </div>
					  </div>
					  <div class="form-group">
						<div class="col-xs-6">
						   <label for="mobile"><h4>Address</h4></label>
							<input type="text" class="form-control" name="address" id="mobile" placeholder="enter your Address" value ="{{customer_detials.address}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
						   <label for="mobile"><h4>Place</h4></label>
							<input type="text" class="form-control" name="place" id="mobile" placeholder="enter your place" value ="{{customer_detials.place}}">
						</div>
					</div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                      </div>
              	</form>
              </div>
			  </div><!--/tab-pane-->
			  
          </div><!--/tab-content-->
		  	<!-- addresses showing  -->
			<!-- <br><br><br>	
			<div class="row">
				{% for x in address %}
				<div class="col-sm-6 p-5">
				  <div class="card">
					<div class="card-body">
						
					  <p class="card-text">{{x.address}}<p>
					  <p class="card-text">{{x.state}}<p>
					  <p class="card-text">{{x.city}}<p></p>
					  <p class="card-text">{{x.zipcode}}<p></p>
					  <!-- <button  class="btn btn-primary" onclick="addAddress('{{x.address}}','{{x.state}}','{{x.city}}','{{x.zipcode}}','{{x.id}}')">Edit This Address</button> -->
					  <button  class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm" onclick="addAddress('{{x.address}}','{{x.state}}','{{x.city}}','{{x.zipcode}}','{{x.id}}')">Edit This Address</button>
					</div>
					<br>
				  </div>
				</div>
				{% endfor %}
			  </div> -->
			  <!-- <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
		<form method="post" action="">
		{% csrf_token %}
		<input type="text" style="display:none" id="idi" name="id" class="form-control validate"><br>
		Address<input type="text" id="ida" name="address" class="form-control validate"><br>
		State <input type="text" id="ids" name="state" class="form-control validate"><br>
		City <input type="text" id="idc" name="city" class="form-control validate"><br>
		zipcode <input type="text" id="idz" name="zipcode" class="form-control validate"><br>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
       <a href="#">
		    <button class="btn btn-deep-orange">Save</button></a>
	  </div>
	  
	</form>
    </div>
  </div>
</div> -->
			  <br><br>
			  <h3></h3>
			<!-- //addresses showing  -->
        </div><!--/col-9-->
    </div><!--/row-->
    <!--// copied ############################################################################## body-->
	<footer>
		<div class="footer">
			<div class="container">
				<div class="ftr-grids">
					<div class="col-md-3 ftr-grid">
						<h4>About Us</h4>
						<ul>
							<li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
							<li><a href="{% url 'collection' %}">Collections</a></li>
							<li><a href="{% url 'order' %}">Orders</a></li>
							<li><a href="{% url 'customer-profile' %}">Profile</a></li>
							<li><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
						</ul>
					</div>
					<div class="col-md-3 ftr-grid">
						<h4>Categories</h4>
						<ul>
							<li><a href="#">Construction</a></li>
							<li><a href="#">Carpenter</a></li>
							<li><a href="#">Catering</a></li>
							<li><a href="#">Plumber</a></li>
							<li><a href="#">Painter</a></li>
							<li><a href="#">Driver</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</footer>
	<script src="{% static 'customerprofile/userhomepagenew/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'customerprofile/userhomepagenew/js/jquery.magnific-popup.js' %}"></script>
	 <script>
		function addAddress(address,state,city,zipcode,id) {
			document.getElementById("ida").value = address	
			document.getElementById("ids").value = state
			document.getElementById("idc").value = city
			document.getElementById("idz").value = zipcode
			document.getElementById("idi").value = id

		}		
	  </script>
	<script src="{% static 'customerprofile/userhomepagenew/js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'customerprofile/userhomepagenew/js/move-top.js' %}"></script>
	<script src="{% static 'customerprofile/userhomepagenew/js/easing.js' %}"></script>
	<script type="text/javascript" >

		$(document).ready(function() {

			// show Valida's version.
			$('#version').valida( 'version' );

			// Exemple 1
			$('.valida').valida();

			

	// setup the partial validation
			$('#partial-1').on('click', function( ev ) {
				ev.preventDefault();
				$('#res-1').click(); // clear form error msgs
				$('form').valida('partial', '#field-1'); // validate only field-1
				$('form').valida('partial', '#field-1-3'); // validate only field-1-3
			});

		});
		function viewImage(event){
			document.getElementById('myimg').src = URL.createObjectURL(event.target.files[0])
		}

	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	
	<!-- //smooth-scrolling-of-move-up -->

	<!-- imagezoom -->
	<script src="{% static 'customerprofile/userhomepagenew/js/imagezoom.js' %}"></script>
	<!-- //imagezoom -->

	<!-- FlexSlider -->
	<script src="{% static 'customerprofile/userhomepagenew/js/jquery.flexslider.js' %}"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	<!-- flexisel (for special offers) -->
	<script src="{% static 'customerprofile/userhomepagenew/js/jquery.flexisel.js' %}"></script>
	<script>
		$(window).load(function () {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 2
					}
				}
			});

		});
	</script>
	<!-- //flexisel (for special offers) -->

	<!-- for bootstrap working -->
	<script src="{% static 'customerprofile/userhomepagenew/js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->

</body>

</html>