{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Order confirmation</title>
	<link href="{% static 'customerhomepagecss/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static 'customerhomepagejs/jquery.min.js' %}"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="{% static 'customerhomepagecss/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- start menu -->
	<script src="{% static 'customerhomepagejs/simpleCart.min.js' %}"> </script>
	<!-- start menu -->
	<link href="{% static 'customerhomepagecss/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="{% static 'customerhomepagejs/memenu.js' %}"></script>
	<script>$(document).ready(function () { $(".memenu").memenu(); });</script>
	<!-- /start menu -->
	<!-- delete icon  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- //delete icon -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</head>
<body>
	<!--header-->
	<div class="top_bg">
		<div class="container">
			<div class="header_top-sec">
				<div class="top_right">
					<ul>
						<li><a href="{% url 'contact' %}">Contact</a></li>|
						<li><a href="#">Order Confirmation</a></li>
					</ul>
				</div>
				<div class="top_left">
					<ul>
						<li class="top_link">Email:{{user.email}}</li>|
						<li class="top_link">{{user.username}}</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="{% url 'registered-customer-homepage' %}">
						<h1>Hire&Get</h1>
					</a>
				</div>
				<!---->
				<div class="top-nav">
					<ul class="memenu skyblue">
						<li class="active"><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
						<li class="grid"><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
						<li class="grid"><a href="{% url 'customer-profile' %}">Make a profile</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<!---->
				<div class="cart box_1">
					<a href="">
						<h3>
							<img style="width: 30px; height:30px" src="{% static 'customerhomepageimages/man.png' %}"
								alt=""><br>
					</a>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
				<!---->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!---->
	<div class="checkout">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
				<li class="active">Order Confirm</li>
			</ol>
			<div class="col-md-9 product-price1">
				<br><br><br>
				<div class="check-out">
					<div class=" cart-items">
						<!-- copied  table -->
						<div class="container">
							<h2>My orders</h2><br>
							<table class="table table-striped">
								<thead>
									<tr>
										<!-- <th></th> -->
										<th>Name</th>
										<th>Category</th>
										<th>Date</th>
										<th>Time</th>
										<th>Salary</th>
										<th>Durability</th>
										<th>mode of payment</th>
										<th>Seeker Confirmation</th>
										<th>your Confirmation</th>
										<th>cancel your order</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for data in order %}
									<tr>
										<!-- <td>{{data.seeker.ImageURL}}</td> -->
										<td>{{data.seeker.name}}</td>
										<td>{{data.seeker.category.category_name}}</td>
										<td>{{data.date}}</td>
										<td>{{data.time}}</td>
										<td>{{data.total_price}}</td>
										<td>{{data.durability}}</td>
										<td>{{data.mode_of_payment}}</td>
										<!-- <td>{{data.durability}}</td> -->
										{% if data.order_verify == True %}
										<td>success</td>
										{% else %}
										<td>waiting</td>
										{% endif %}
										{% if data.customer_cancel == True %}
										<td>success</td>
										{% else %}
										<td>cancelled</td>
										{% endif %}
										{% if data.customer_cancel == False %}
										<td><a href="{% url 'customer-order-cancel' data.id %}"><button type="button"
													class="btn btn-success">Confirm</button></a></td>
										{% else %}
										<td><a href="{% url 'customer-order-cancel' data.id %}"><button type="button"
													class="btn btn-success">cancel</button></a></td>
										{% endif %}
										{% if data.order_verify == True and data.customer_cancel %}
										<td><button type="button"
													class="btn btn-primary" data-toggle="modal"
													data-target="#exampleModal">feedback</button></td>
										{% endif %}
									</tr>
									<!-- Modal -->
									<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form action="{% url 'customer-feedback' data.id %}" method="post">
														{% csrf_token %}
														<textarea id="story" name="feedback" rows="5" cols="75"
															required>
										  </textarea>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Send</button>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!-- //model  -->
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- //copied table -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---->
	<!---->
	<div class="footer">
		<div class="container">
			<div class="ftr-grids">
				<div class="col-md-3 ftr-grid">
					<h4>About Us</h4>
					<ul>
						<li><a href="{% url 'registered-customer-homepage' %}">Home</a></li>
						<li><a href="{% url 'contact' %}">Contact Us</a></li>
						<li><a href="{% url 'collection' %}">Collections</a></li>
						<li><a href="{% url 'order' %}">Orders</a></li>
						<li><a href="{% url 'customer-profile' %}">Profile</a></li>
						<li><a href="{% url 'registered-customer-logout' %}">Logout</a></li>
					</ul>
				</div>
				<div class="col-md-3 ftr-grid">
					<h4>Categories</h4>
					<ul>
						<li><a href="#">Construction</a></li>
						<li><a href="#">Carpenter</a></li>
						<li><a href="#">Catering</a></li>
						<li><a href="#">Plumber</a></li>
						<li><a href="#">Painter</a></li>
						<li><a href="#">Driver</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!---->
	<div class="copywrite">
		<div class="container">
			<p>Copyright © 2020 Hire&Get</p>
		</div>
	</div>
</body>
</html>