
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Home Page	 </title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'commoncss/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700,800&display=swap" rel="stylesheet">
  <!-- Template CSS -->
  <!-- icon -->
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
<!-- //icon -->
</head>

<body>
<!-- Headers-4 block -->
<section class="w3l-header-6-main mobile-header">
    <div class="header-section-hny">
        <div class="header-top">
            <div class="container">
                <!-- /header-top-inn-->
                <div class="header-inn-top row">
                    <div class="logo-brand col-6">
                        <a class="navbar-brand" href="index.html"><h1 style="color:white">Hire&Get</h1>
                            
                        </a>
                    </div>
                    <div class="menu-overlay-left col-6 ml-auto">
                        <div class="two-pops d-flex">
                            <a href="#" class="author-user"><span class="fa fa-user"
                                    aria-hidden="true"></span></a>


                            <!-- overlay-menuv-menu -->
                            <div class="overlay-menuv-hny">
                                <input type="checkbox" id="op"></input>
                                <div class="side-menu-hny">
                                    <label for="op" class="menuopen">
                                        <span class="fa fa-bars" aria-hidden="true"></span></label>
                                </div>
                                <div class="overlay-menuv overlay-menuv-hugeinc">
                                    <label for="op" class="menuclose"><span class="fa fa-times"
                                            aria-hidden="true"></span></label>
                                    <div class="side-show-content text-left">

                                        <div class="quick-links-side gap-top">
                                            <h3 class="side-title">About Webzine</h3>
                                            <p> Lorem ipsum dolor sit amet, adipi scingelit. Vestibulum orci justo,
                                                vehicula vel sapien sit amet.
                                            </p>

                                        </div>

                                        <div class="quick-links-side gap-top">
                                            <h3 class="side-title">Top Authors</h3>
                                            <ul>
                                                <li><a href="#">John Smith</a></li>
                                                <li><a href="#">Jackson</a></li>
                                                <li><a href="#">Lucas Smith</a></li>
                                                <li><a href="#">Daniel Doe</a></li>
                                            </ul>
                                        </div>
                                        <div class="quick-links-side gap-top">
                                            <h3 class="side-title">Categories</h3>
                                            <ul>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="lifestyle.html">Lifestyle</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                                <li><a href="#">Author</a></li>
                                            </ul>
                                        </div>
                                        <div class="quick-links-side follow-us gap-top">
                                            <h3 class="side-title">Follow Us</h3>
                                            <ul class="social-icons-top">
                                                <li><a class="facebook" href="#"><span class="fa fa-facebook"
                                                            aria-hidden="true"></span></a>
                                                </li>
                                                <li><a class="twitter" href="#"><span class="fa fa-twitter"
                                                            aria-hidden="true"></span></a></li>
                                                <li><a class="google" href="#"><span class="fa fa-google-plus"
                                                            aria-hidden="true"></span></a>
                                                </li>
                                                <li><a class="instagram" href="#"><span class="fa fa-instagram"
                                                            aria-hidden="true"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="search-right">

                                <a href="#search" title="search"><span class="fa fa-search"
                                        aria-hidden="true"></span></a>
                                <!-- search popup -->


                               
                                <!-- /search popup -->
                            </div>
                        </div>
                        <!-- overlay-menuv-menu -->
                    </div>
                </div>
                <!-- //header-top-inn-->
            </div>
        </div>
        <header class="header-hny-block">
            <div class="container">
                 <!-- /.nav-collapse -->
                 <nav class="navbar navbar-expand-lg navbar-light">
                      
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-lg-auto">
                           
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Home</a>
                                    <div class="" aria-labelledby="navbarDropdown">
                                    </div>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="lifestyle.html">Lifestyle</a>
								</li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                            <div class="social-right">
                                    <ul class="social-icons-top">
                                        <li><a class="facebook" href="#"><span class="fa fa-facebook"
                                                    aria-hidden="true"></span></a>
                                        </li>
                                        <li><a class="twitter" href="#"><span class="fa fa-twitter"
                                                    aria-hidden="true"></span></a></li>
                                        <li><a class="google" href="#"><span class="fa fa-google-plus"
                                                    aria-hidden="true"></span></a>
                                        </li>
                                        <li><a class="instagram" href="#"><span class="fa fa-instagram"
                                                    aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </nav>

                <!-- /.nav-collapse -->
        </header>
    </div>
</section>


<section class="w3l-mag-main">
	<!--/mag-content-->
	<div class="mag-content-inf py-5">
		<div class="container">
			<div class="banner-bottom-sechny py-md-4">
				<!-- <h3 class="hny-title text-center">Recent <span>News</span></h3> -->
				<p>Hire&Get is statnding for getting Jobs and Hire workers. Here you have two choices, either you can enroll 
				as a worker and get job apt to you like we mentioned in the category section nor you can enroll 
				as a customer and hire workers according to their profession for your needs.</p>
				<p>For workers, Here we are offering best oppertunities to get works everyday if you guys 
					properly follow our rules and regulations. You guys want to register here by providing some of details
					like your Name, profession, how much you expected salary per day, etc...</p>
				<p>For customers, Here we are offering the workers which will satisfies you with their works. You can hire workers accordig 
					to their salary expecatation , how much year they have experience in that field etc..

				</p>
				 <h3 class="hny-title text-center"> <span></span></h3> 
				
				<div class="ban-content-inf row py-lg-3">
					<div class="maghny-gd-1 col-lg-6">
						<div class="maghny-grid">
							<figure class="effect-lily">
								<img class="img-fluid" src="{% static 'commonimages/p.jpg' %}" alt="">
								<figcaption class="w3set-hny">
									<div>
										<h4 class="top-text">Man in black jacket and brown hat standing on rock
											<span>near lake</span></h4>
										<p>Jan.20.2020 </p>
									</div>

								</figcaption>
							</figure>
						</div>
					</div>
					<div class="maghny-gd-1 col-lg-6">
						<div class="row">
							<div class="maghny-gd-1 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/dr.jpg' %}">
										<figcaption>
											<div>
												<h4>woman near <span>pigeons</span></h4>
												<p>Jan.20.2020 </p>
											</div>

										</figcaption>
									</figure>
								</div>
								<h5 class="top-title"><a href="#">There are many variations that focuses on
										presenting</a></h5>

								<div class="mag-post-meta mt-3"><span
										class="meta-author text-uppercase"><span>By&nbsp;</span><a href="#"
											class="author-name"> John
											Brain</a> </span>
									<span class="author-date">Jan 5, 2020</span>
								</div>
								<a href="#" class="read-more btn mt-3">Read More</a>
							</div>
							<div class="maghny-gd-1 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/cr.jpg' %}">
										<figcaption>
											<div>
												<h4>Man standing on railroad near <span>plants</span></h4>
												<p>Jan.20.2020 </p>
											</div>

										</figcaption>
									</figure>
								</div>
								<h5 class="top-title"><a href="#">
										There are many variations that focuses on presenting</a></h5>
								<div class="mag-post-meta mt-3"> <span
										class="meta-author text-uppercase"><span>By&nbsp;</span><a href="#"
											class="author-name"> John
											Brain</a> </span>
									<span class="author-date">Jan 5, 2020</span>
								</div>
								<a href="#" class="read-more btn mt-3">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="blog-inner-grids py-md-4 row">
				<div class="mag-content-left-hny col-lg-8">
					<!--/mag-hny-content-1-->
					<div class="mag-hny-content">
						<h3 class="hny-title">Hire Secured <span>Workers</span></h3>
						<!--/mag-left-grid-1-->
						<div class="maghny-grids-inf row">
							<div class="maghny-gd-1 col-lg-4 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/ca.jpg' %}" alt="">
										<figcaption>
											<div>
												<h4>Man holding camera and woman playing <span>violin</span></h4>
												<p>Jan.20.2020 </p>
											</div>

										</figcaption>
									</figure>
								</div>
								<h5><a href="#">
										There are many variations that focuses on presenting</a></h5>
							</div>
							<div class="maghny-gd-1 col-lg-4 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/coook.jpg' %}" alt="">
										<figcaption>
											<div>
												<h4>Adult beautiful breakfast <span>brunette</span></h4>
												<p>Jan.20.2020 </p>
											</div>

										</figcaption>
									</figure>
								</div>
								<h5><a href="#">
										There are many variations that focuses on presenting</a></h5>

							
							</div>
							<div class="maghny-gd-1 col-lg-4 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/welder.jpg' %}" alt="">
										<figcaption>
											<div>
												<h4>Man in black shorts on <span>boat end</span></h4>
												<p>Jan.20.2020 </p>
											</div>

										</figcaption>
									</figure>
								</div>
								<h5><a href="#">
										There are many variations that focuses on presenting</a></h5>
							
							</div>
						</div>
					</div>
					<!--//mag-hny-content-1-->
					<!--//mag-left-grid-1-->
					<div class="mag-hny-content my-lg-5">
						<h3 class="hny-title">register <span>Here</span></h3>
						<!--/mag-left-grid-1-->
						<div class="maghny-grids-inf row">
							<div class="maghny-gd-1 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/behere.jpg' %}" alt="">
									</figure>
								</div>
								<h5><a href="{% url 'seeker-login' %}">
										The person who want work, signup  here</a></h5>
								<!-- <p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.</p> -->
								
							</div>
							<div class="maghny-gd-1 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="{% static 'commonimages/joinus.jpg' %}">
										<figcaption>
											

										</figcaption>
									</figure>
								</div>
								<h5><a href="{% url 'customer-login' %}">
										The person who want workers signup here</a></h5>
								
							</div>
						</div>	
					</div>
					
				</div>

				<div class="mag-content-right-hny col-lg-4">
					<aside>
						<div class="side-bar-hny-recent mb-5">
							<h4 class="mag-side-title">Top <span>Categories</span></h4>
							<div class="mag-small-post">
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m11.jpg' %}" class="img-fluid" alt=""></a>
									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Construction</a> </h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m10.jpg' %}" class="img-fluid" alt=""></a>
									</div>
									<div class="mag-post-details align-items-center col-9">
										<h4 class="mag-post-cate">
											<a href="#">Painting</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m12.jpg' %}" class="img-fluid" alt=""></a>
									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Electrician</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m9.jpg' %}" class="img-fluid" alt=""></a>
									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Cook</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Carpenter</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Driver</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Catering</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Maid</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Welder</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Plumber</a>
										</h4>
									</div>
								</div>
								<div class="post-item-grid align-items-center row mb-4">
									<div class="mag-post-thumb col-3 pl-0">
										<a href="#"><img src="{% static 'commonimages/m13.jpg' %}" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate">
											<a href="#">Photographer</a>
										</h4>
									</div>
								</div>
							
							
							
							
							</div>
						</div>
						</div>

					</aside>
				</div>
			</div>
			<!--/newsletter-->
			<div class="form-inner-newsletter py-lg-5">

				<div class="newsletter-infhny p-md-5 p-4">
					<div class="newsletter-inn-con p-lg-5">
						<p>WE LIKE TO SHARE LATEST NEWS OF Hire&Get</p>
						<h2>SUBSCRIBE NOW !</h2>

						<form action="#" method="post" class="newsletter-form mt-md-5">
							<div class="form-input">
								<input type="email" name="email" class="form-control"
									placeholder="Enter your email address" required="">
							</div>
							<div class="form-input mt-md-4 mt-3"><button class="btn">Subscribe</button></div>
						</form>
					</div>
				</div>
			</div>
			<!--//newsletter-->
		</div>
	</div>
	<!--//mag-content-->
	<!-- /slider -->
	<script src="{% static 'commonjs/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'commonjs/grids.owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 0,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 2000,
				autoplaySpeed: 1000,
				autoplayHoverPause: true,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 2,
						nav: true,
						margin: 20
					},
					667: {
						items: 3,
						nav: true,
						margin: 20
					},
					1000: {
						items: 5,
						nav: true,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- /slider -->
</section>
<!-- footer-66 -->
<footer class="w3l-footer-66">
    <section class="footer-inner-main py-md-5 py-5">
        <div class="container">
            <div class="footer-top row">
                <div class="sub-one-left col-lg-4 col-md-6">
                    <h6>About Hire&Get</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris.</p>
                    <div class="columns-2">
                        <ul class="social-footer">
                            <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="sub-two-right col-lg-4 col-md-6 my-md-0 my-5">
                    <h6>Editor Pics</h6>
                    <div class="row editor-pics mb-3">
                        <div class="col-3 item-pic">
                            <img src="{% static 'commonimages/m4.jpg' %}" class="img-fluid" alt="">

                        </div>
                        <div class="col-9 item-details">
                            <a href="#">
                                <h5 class="inner">More Than 120 ER Visits Linked To Synthetic WordPress In
                                    NYC...</h5>
                            </a>
                            <div class="td-post-date">Jan 22, 2019</div>
                        </div>

                    </div>
                    <div class="row editor-pics mb-3">
                        <div class="col-3 item-pic">
                            <img src="{% static 'commonimages/m1.jpg' %}" class="img-fluid" alt="">

                        </div>
                        <div class="col-9 item-details">
                            <a href="#">
                                <h5 class="inner">More Than 120 ER Visits Linked To Synthetic WordPress In
                                    NYC...</h5>
                            </a>
                            <div class="td-post-date">Jan 22, 2019</div>
                        </div>

                    </div>
                    <div class="row editor-pics mb-3">
                        <div class="col-3 item-pic">
                            <img src="{% static 'commonimages/m3.jpg' %}" class="img-fluid" alt="">

                        </div>
                        <div class="col-9 item-details">
                            <a href="#">
                                <h5 class="inner">More Than 120 ER Visits Linked To Synthetic WordPress In
                                    NYC...</h5>
                            </a>
                            <div class="td-post-date">Jan 22, 2019</div>
                        </div>

                    </div>

                </div>

                <div class="sub-one-left col-lg-4 col-md-6 mt-lg-0 mt-md-5">
                    <h6>Information</h6>
                    <div class="columns-2 d-flex">
                        <ul class="footer-sub-gd mr-5">
                            <li><a href="#">Celebrities</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="lifestyle.html">Lifestyle</a></li>
                            <li><a href="#">Blog Page</a></li>
                        </ul>
                        <ul class="footer-sub-gd">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Signup</a></li>
                            <li><a href="#">Author</a></li>
                            <li><a href="#">Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="below-section">	
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </div>
    <!-- copyright -->



</footer>
<!--//footer-66 -->
</body>

</html>
